h1{ /* make all the h1 color red  */
    color: red; 
}
.completed{ /* make all the elements with the class completed color gray and with the line-through */
    color: gray;
    text-decoration: line-through;
}